[Desktop Entry]
Type=Application
Name=Vitrine
GenericName=Virtual Machine Manager
Comment=Create and run QEMU virtual machines
Exec=vitrine
Icon=vitrine
Terminal=false
Categories=System;Emulator;Qt;
Keywords=VM;virtual machine;QEMU;KVM;emulator;virtualization;
StartupWMClass=vitrine
